body {
  background-color: lightgrey;
}

h2 { 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(49, 146, 153);
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(49, 146, 153);
  text-align: center;
}

p {
  text-align: left;
}

footer {

  text-align-last: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.square {
  height: 150pt;
  width: 150pt;
  float:left;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.panel {
  padding-top: 10px;
  padding-bottom: 30px;
  margin: -10px;
}

.navbar {
  background-color: white;
  margin-bottom: 20px;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(49, 146, 153);
  margin-left: 40px;
  padding: inherit; 
}

.navbar-nav {
  float:left;
}

.table {
  font-size: small;
}





@media(max-width: 991px) {

  .navbar-light  {
    background-color: rgb(49, 146, 153);
  }

  .navbar-collapse {
    background-color: white;
    padding-left: 30px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
   
  }

}